db.sqlite3
AIMS/__pycache__/
AIMS/migrations/__pycache__/
farm/__pycache__/
farm/migrations/__pycache__/
crops/__pycache__/
crops/migrations/__pycache__/
inputs/__pycache__/
inputs/migrations/__pycache__/
production/__pycache__/
production/migrations/__pycache__/
profiles/__pycache__/
profiles/migrations/__pycache__/
