{% extends 'production/production.html' %}
{% block title %}{% if farming_journey.id %}Update Journey{% else %}Create Journey{% endif %}{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">{% if farming_journey.id %}Update Journey{% else %}Create Journey{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{% if farming_journey.id %}Update{% else %}Create{% endif %}</button>
        </form>
    </div>
{% endblock %}
